<div class="container">

<h1>Groups</h1><br><br>

<h2>My Groups</h2>

  <div class="table-responsive">
<% if current_user.memberships.empty? && Group.where(user: current_user).empty? %>
  <p>No groups available.</p>
<% else %>
      <table class="table">
        <thead>
        <tr>
          <th>Group Name</th>
          <th>Members</th>
        </tr>
        </thead>
        <tbody>

        <% all_groups = Group.where(user: current_user).to_a + current_user.memberships.map(&:group)  %>
        <% Rails.logger.info "All Groups: #{all_groups.inspect}" %>
        <% all_groups.uniq.each do |group| %>
          <tr>
            <td>
              <%= link_to group.name, group_path(group) %>
              <% if group.user == current_user %>
                (Creator)
              <% end %>
            </td>
            <td>
              <% members = group.users.map(&:username).join(', ') %>
              <%= members %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
<% end %>
  </div>
  <br><br>

<%= link_to 'Create New Group', new_group_path, class: "btn btn-outline-secondary btn-sm me-2"  %>

</div>