<div class="container-lg">
<footer class="footer mt-auto py-3 bg-light">
  <div id="top" class="container d-flex justify-content-between align-items-center">
    <div>
      <%= link_to 'Home', root_path, class: "navbar-brand" %>

    </div>

  </div>
</footer>
</div>